<section>
	<div class="wrapper-block">
		<div class="left-content">
			<h3>Cosmic JS</h3>
			<ul>
				<li>Interface</li>
				<li>Geschiedenis</li>
				<li>Documentatie</li>
			</ul>
		
		</div>
		<div class="right-content">
			<img
			src="https://www.cosmicjs.com/_next/image?url=https%3A%2F%2Fimgix.cosmicjs.com%2F087542a0-2819-11ee-a19d-717742939f83-hero.png&w=1920&q=75"
				alt=""
			/>
		</div>
	</div>
</section>

<style>
	section {
        position: sticky;
        top: 3em;
		padding: 2em;
		height: 95vh;
		width: 100%;
		overflow: hidden;
		color: rgb(255, 255, 255);
	}

	.wrapper-block {
		height: 100%;
		width: 100%;
		background-color: rgb(66, 69, 161);
		display: flex;
		border-radius: 1em;
        padding: 2em;
	}

	.left-content {
        width: 100%;
	}

	.right-content {
		height: 100%;
		width: 100%;
	}

	img {
		height: 100%;
		width: 100%;
		object-fit: cover;
		border-radius: 1em;
	}

		h3 {
		font-size: 5em;
		font-weight: 600;
        max-width: 90%;
        line-height: 1em;
        margin-bottom: 1.2rem;
	}

	p {
		max-width: 75%;
	}


	ul {
		font-size: 2em;
		margin-left: 1em;
	}
	@media screen and (max-width: 1122px) {

}

@media screen and (max-width: 700px) {

h3 {
	font-size: 2.5em;
}

p {
	max-width: 100%;
	padding-bottom: 1em;
}

img {
	height: 60%;
	width: 100%;
	object-fit: cover;
	border-radius: 1em;
}


.wrapper-block {
	flex-direction: column;
	padding: 1em;
	justify-content: space-between;
	align-items: center;
}

}
</style>
